@import "./variables";
@import "./colors";
@import "./fonts";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Montserrat-Bold;
}

body{
    width: 100%;
    height: 100vh;
    background-color: $black_color;
    color: $whrite_color;
}

@media (max-width: 1024px) {
  

}

@media (max-width: 600px) {
   
}